<script src="{{ url_for('static', filename='admin/js/jquery.3.2.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="{{ url_for('static', filename='admin/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/plugin/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/ready.min.js') }}"></script>
<script src="https://kit.fontawesome.com/f8535c9b97.js"></script>

</body>
</html>