<div class="sidebar">

    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/">
                        <i class="bi bi-house"></i>
                        <p>Beranda</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="beranda">
                        <i class="bi bi-grid"></i>
                        <p>Admin</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Manajemen Data</h4>
                </li>


                <li class="nav-item">
                    <a href="pengguna">
                        <i class="bi bi-people"></i>
                        <p>Data Pengguna</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="buket">
                        <i class="bi bi-flower1"></i>
                        <p>Data Buket</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="transaksi">
                        <i class="bi bi-credit-card-2-front"></i>
                        <p>Data Transaksi</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="testimoni">
                        <i class="bi bi-chat-left-quote"></i>
                        <p>Data Testimoni</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="forum">
                        <i class="bi bi-chat-dots"></i>
                        <p>Data Obrolan</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="hubungi-kami">
                        <i class="bi bi-chat-right-text"></i>
                        <p>Data Hubungi Kami</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#" onclick="logout()">
                        <i class="bi bi-box-arrow-right"></i>
                        <p>Logout</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>