<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="">Navirin's</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">Beranda</a></li>
                <li><a class="nav-link scrollto" href="#tentangKami">Tentang Kami</a></li>
                <li><a class="nav-link scrollto" href="#koleksiBuket">Koleksi Buket</a></li>
                <li><a class="nav-link scrollto" href="#kontak">Kontak</a></li>
                <li><a class="getstarted scrollto" href="masuk">Masuk</a></li>
                <li><a class="getstarted scrollto" href="daftar">Daftar</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>