<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="">Navirin's</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Beranda</a></li>
                <li><a class="nav-link scrollto" href="admin/beranda">Admin</a></li>
                <li><a class="nav-link scrollto" href="buket">Koleksi Buket</a></li>
                <li class="dropdown">
                    <!-- <a href="#"><span>Profil</span> <i class="bi bi-chevron-down"></i></a> -->
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="Profile" class="rounded-circle profile-pic">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ user_info.profile_name }}</span>
                    </a>
                    <ul>
                    <!-- <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"> -->
                        <li><a href="profil/{{ user_info.account_name }}">Profil</a></li>
                        <li><a href="obrolan/{{ user_info.account_name }}">Obrolan</a></li>
                        <li><a href="riwayat-pemesanan">Riwayat Pemesanan</a></li>
                        <li><a href="#" onclick="logout()">Keluar</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>