<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HealthyConnect</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <script src="https://kit.fontawesome.com/f8535c9b97.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='admin/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/styleadmin.css') }}">


</head>


<script>
    function logout() {
        $.removeCookie('mytoken', { path: '/' });
        alert('Signed out!');
        window.location.href = "/";
    }

</script>

<body>
    <div class="wrapper">

        <div class="main-header" data-background-color="purple">

            <!-- Logo Header -->
            {% include 'admin/navbar/navbar.html' %}
            
        </div>
        <!-- Sidebar -->
        {% include 'admin/sidebar/sidebar.html' %}


        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Data Buket</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Data</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Buket</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Data Buket</h4>
                                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal"
                                            data-target="#addBouquet">
                                            <i class="fa fa-plus"></i>
                                            Tambah Data
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Gambar</th>
                                                    <th>Nama</th>
                                                    <th>Warna Bunga</th>
                                                    <th>Warna Kertas</th>
                                                    <th>Kategori</th>
                                                    <th>Deskripsi</th>
                                                    <th>Harga</th>
                                                    <th>Stok</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for bouquet in bouquets %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td class="text-center"><img
                                                            src="{{ url_for('static', filename=bouquet.image) }}"
                                                            width="50" height="50"></td>
                                                    <td>{{bouquet.name}}</td>
                                                    <td>{{bouquet.flower_color}}</td>
                                                    <td>{{bouquet.paper_color}}</td>
                                                    <td>{{bouquet.category}}</td>
                                                    <td width="30%">{{bouquet.description}}</td>
                                                    <td>Rp {{bouquet.price}}</td>
                                                    <td>{{bouquet.stock}}</td>
                                                    <td>
                                                        <a href="#editBouquet{{bouquet['_id']}}" data-toggle="modal"
                                                            class="btn btn-xs btn-primary">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </a>
                                                        <a href="#deleteBouquet_{{bouquet['_id']}}" data-toggle="modal"
                                                            class="btn btn-xs btn-danger">
                                                            <i class="fa fa-trash"></i> Hapus
                                                        </a>
                                                    </td>
                                                </tr>


                                                <!-- modal edit -->
                                                <div class="modal fade" id="editBouquet{{bouquet['_id']}}" tabindex="-1"
                                                    role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">
                                                                        Edit Data</span>
                                                                    <span class="fw-light">
                                                                        Buket
                                                                    </span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form method="POST" action="/edit-buket"
                                                                enctype="multipart/form-data">

                                                                <div class="modal-body">
                                                                    <input type="hidden" value="{{bouquet['_id']}}"
                                                                        class="form-control" name="id">

                                                                    <div class="form-group">
                                                                        <label>Nama</label>
                                                                        <input type="text" class="form-control mt-2"
                                                                            name="name" id="name"
                                                                            placeholder="Nama Produk ..."
                                                                            value="{{bouquet.name}}" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <img src="{{ url_for('static', filename=bouquet.image)}}"
                                                                            width="70" height="70">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Gambar</label>
                                                                        <input type="file" class="form-control mt-2"
                                                                            name="image" id="image"
                                                                            accept=".png, .jpg, .jpeg">
                                                                        <small>Format Gambar Harus JPG / PNG /
                                                                            JPEG</small>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Warna Bunga</label>
                                                                        <input type="text" class="form-control mt-2"
                                                                            name="flower_color" id="flower_color"
                                                                            placeholder="Warna Bunga"
                                                                            value="{{bouquet.flower_color}}" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Warna Kertas</label>
                                                                        <input type="text" class="form-control mt-2"
                                                                            name="paper_color" id="paper_color"
                                                                            placeholder="Warna Kertas"
                                                                            value="{{bouquet.paper_color}}" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Kategori</label>
                                                                        <input type="text" class="form-control mt-2"
                                                                            name="category" id="category"
                                                                            placeholder="Kategori"
                                                                            value="{{bouquet.category}}" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Deskripsi</label>
                                                                        <textarea class="form-control mt-2"
                                                                            style="white-space: pre-line;" rows="4"
                                                                            name="description"
                                                                            id="description"
                                                                            placeholder="Keterangan Produk ..."
                                                                            required>{{bouquet.description}}</textarea>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Harga</label>
                                                                        <input type="number" class="form-control mt-2"
                                                                            name="price" id="price"
                                                                            placeholder="Harga Produk..."
                                                                            value="{{bouquet.price}}" required>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Stok</label>
                                                                        <input type="number" class="form-control mt-2"
                                                                            name="stock" id="stock"
                                                                            placeholder="Stok Produk..."
                                                                            value="{{bouquet.stock}}" required>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer no-bd">
                                                                    <button type="submit" name="ubah"
                                                                        class="btn btn-primary"><i
                                                                            class="fa fa-save"></i> Save
                                                                        Changes</button>
                                                                    <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal"><i class="fa fa-undo"></i>
                                                                        Close</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end of modal edit -->


                                                <!-- modal delete -->
                                                <div class="modal fade" id="deleteBouquet_{{bouquet['_id']}}"
                                                    tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">
                                                                        Hapus Data</span>
                                                                    <span class="fw-light">
                                                                        Buket
                                                                    </span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form method="POST" action="/hapus-buket"
                                                                enctype="multipart/form-data">

                                                                <div class="modal-body">

                                                                    <input type="hidden" value="{{bouquet['_id']}}"
                                                                        class="form-control" name="id">

                                                                    <div class="form-group">
                                                                        <h4>Apakah Anda ingin Menghapus Data ini ?</h4>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer no-bd">
                                                                    <button type="submit" name="hapus"
                                                                        class="btn btn-danger"><i
                                                                            class="fa fa-trash"></i>
                                                                        Hapus</button>
                                                                    <button type="button" class="btn btn-primary"
                                                                        data-dismiss="modal"><i class="fa fa-undo"></i>
                                                                        Close</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end of modal delete -->

                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="addBouquet" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header no-bd">
                        <h5 class="modal-title">
                            <span class="fw-mediumbold">
                                Tambah Data</span>
                            <span class="fw-light">
                                Buket
                            </span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/tambah-buket" enctype="multipart/form-data">

                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nama</label>
                                <input type="text" class="form-control mt-2" name="name" id="name"
                                    placeholder="Nama Produk ..." required>
                            </div>

                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="file" class="form-control mt-2" name="image" id="image"
                                    accept=".png, .jpg, .jpeg" required>
                                <small>Format Gambar Harus JPG / PNG / JPEG</small>
                            </div>

                            <div class="form-group">
                                <label>Warna Bunga</label>
                                <input type="text" class="form-control mt-2" name="flower_color" id="flower_color"
                                    placeholder="Warna Bunga" required>
                            </div>

                            <div class="form-group">
                                <label>Warna Kertas</label>
                                <input type="text" class="form-control mt-2" name="paper_color" id="paper_color"
                                    placeholder="Warna Kertas" required>
                            </div>

                            <div class="form-group">
                                <label>Kategori</label>
                                <input type="text" class="form-control mt-2" name="category" id="category"
                                    placeholder="Kategori" required>
                            </div>

                            <div class="form-group">
                                <label>Deskripsi</label>
                                <textarea class="form-control mt-2" style="white-space: pre-line;" rows="4"
                                    name="description" id="description" placeholder="Keterangan Produk ..."
                                    required></textarea>
                            </div>

                            <div class="form-group">
                                <label>Harga</label>
                                <input type="number" class="form-control mt-2" name="price" id="price"
                                    placeholder="Harga Produk..." required>
                            </div>

                            <div class="form-group">
                                <label>Stok</label>
                                <input type="number" class="form-control mt-2" name="stock" id="stock"
                                    placeholder="Stok Produk..." required>
                            </div>
                        </div>

                        <div class="modal-footer no-bd">
                            <button type="submit" name="simpan" class="btn btn-primary"><i class="fa fa-save"></i> Save
                                Changes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-undo"></i>
                                Close</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>









    </div>
    <script src="{{ url_for('static', filename='admin/js/jquery.3.2.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='admin/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='admin/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='admin/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='admin/js/plugin/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/ready.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#add-row').DataTable({
                pageLength: 25
            });
        });
    </script>
</body>

</html>