{% include 'admin/templates/header.html' %}
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Data Buket</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="../admin/beranda">
                                    <i class="bi bi-archive"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a>Data Buket</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Data Buket</h4>
                                        <button class="btn btn-primary ml-auto" data-toggle="modal" data-target="#addBouquet">
                                            <i class="fa fa-plus"></i>
                                            Tambah Data
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>No</th>
                                                    <th>Gambar</th>
                                                    <th>Nama</th>
                                                    <th>Warna Bunga dan Kertas</th>
                                                    <th>Kategori</th>
                                                    <th>Harga</th>
                                                    <th>Stok</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for bouquet in bouquets %}
                                                <tr>
                                                    <td class="text-center">{{loop.index}}</td>
                                                    <td class="text-center">
                                                        <img src="{{ url_for('static', filename=bouquet.image) }}" width="60" height="60">
                                                    </td>
                                                    <td>{{bouquet.name}}</td>
                                                    <td>{{bouquet.flower_and_paper_color}}</td>
                                                    <td>{{bouquet.category}}</td>
                                                    <td class="text-end">Rp {{bouquet.price}}</td>
                                                    <td class="text-end">{{bouquet.stock}}</td>
                                                    <td class="text-center">
                                                        <a href="#detailBouquet_{{bouquet['_id']}}" data-toggle="modal" class="btn btn-xs btn-success">
                                                            <i class="fa fa-eye"></i> Detail
                                                        </a>
                                                        <a href="#editBouquet_{{bouquet['_id']}}" data-toggle="modal" class="btn btn-xs btn-warning">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </a>
                                                        <a href="#deleteBouquet_{{bouquet['_id']}}" data-toggle="modal" class="btn btn-xs btn-danger">
                                                            <i class="fa fa-trash"></i> Hapus
                                                        </a>
                                                    </td>
                                                </tr>

                                                <!-- Modal Detail -->
                                                <div class="modal fade" id="detailBouquet_{{bouquet['_id']}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">Detail Data</span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form>
                                                                <div class="modal-body">
                                                                    <input type="hidden" value="{{bouquet['_id']}}" class="form-control" name="id">
                                                                    <div class="row">
                                                                        <div class="col-md-6 form-group">
                                                                            <label>Nama</label>
                                                                            <input type="text" readonly class="form-control mt-2" name="name" id="name" placeholder="Masukkan nama buket" value="{{bouquet.name}}">
                                                                        </div>
                                                                        <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                            <div class="col-md-12 form-group mt-3 mt-md-0">
                                                                                <label>Gambar</label>
                                                                            </div>
                                                                            <div class="col-md-12 form-group mt-3 mt-md-0">
                                                                                <img src="{{ url_for('static', filename=bouquet.image)}}" width="70" height="70">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 form-group">
                                                                            <label>Warna Bunga dan Kertas</label>
                                                                            <input type="text" readonly class="form-control mt-2" name="flower_and_paper_color" id="flower_and_paper_color" placeholder="Masukkan warna bunga dan kertas" value="{{bouquet.flower_and_paper_color}}">
                                                                        </div>
                                                                        <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                            <label for="editCategory"class="form-label">Kategori</label>
                                                                            <select class="form-control" readonly id="editCategory" name="category">
                                                                                {% if bouquet.category == 'Artificial-Full-Flower-Hand-Bouquet' %}
                                                                                <option value="Artificial-Full-Flower-Hand-Bouquet" selected>Artificial Full Flower Hand Bouquet</option>
                                                                                {% elif bouquet.category == 'Money-Hand-Bouquet' %}
                                                                                <option value="Money-Hand-Bouquet" selected>Money Hand Bouquet</option>
                                                                                {% elif bouquet.category == 'Hand-Bouquet-Snack' %}
                                                                                <option value="Hand-Bouquet-Snack" selected>Hand Bouquet Snack</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 form-group">
                                                                            <label>Harga</label>
                                                                            <input type="number" readonly class="form-control mt-2" name="price" id="price" placeholder="Masukkan harga buket" value="{{bouquet.price}}">
                                                                        </div>
                                                                        <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                            <label>Stok</label>
                                                                            <input type="number" readonly class="form-control mt-2" name="stock" id="stock" placeholder="Masukkan stok buket" value="{{bouquet.stock}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer no-bd">
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal"></i> Tutup</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal Edit -->
                                                <div class="modal fade" id="editBouquet_{{bouquet['_id']}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">Edit Data</span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form action="/edit-buket" method="POST" enctype="multipart/form-data">
                                                                <div class="modal-body">
                                                                    <input type="hidden" value="{{bouquet['_id']}}" class="form-control" name="id">
                                                                    <div class="row">
                                                                        <div class="col-md-6 form-group">
                                                                            <label>Nama</label>
                                                                            <input type="text" class="form-control mt-2" name="name" id="name" placeholder="Masukkan nama buket" value="{{bouquet.name}}" required>
                                                                        </div>
                                                                        <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                            <div class="col-md-12 form-group mt-3 mt-md-0">
                                                                                <img src="{{ url_for('static', filename=bouquet.image)}}" width="70" height="70">
                                                                            </div>
                                                                            <div class="col-md-12 form-group mt-3 mt-md-0">
                                                                                <label>Gambar</label>
                                                                                <input type="file" class="form-control mt-2" name="image" id="image" accept=".png, .jpg, .jpeg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 form-group">
                                                                            <label>Warna Bunga dan Kertas</label>
                                                                            <input type="text" class="form-control mt-2" name="flower_and_paper_color" id="flower_and_paper_color" placeholder="Masukkan warna bunga dan kertas" value="{{bouquet.flower_and_paper_color}}" required>
                                                                        </div>
                                                                        <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                            <label for="editCategory"class="form-label">Kategori</label>
                                                                            <select class="form-control" id="editCategory" name="category" required>
                                                                                {% if bouquet.category == 'Artificial-Full-Flower-Hand-Bouquet' %}
                                                                                <option value="Artificial-Full-Flower-Hand-Bouquet" selected>Artificial Full Flower Hand Bouquet</option>
                                                                                <option value="Money-Hand-Bouquet">Money Hand Bouquet</option>
                                                                                <option value="Hand-Bouquet-Snack">Hand Bouquet Snack</option>
                                                                                {% elif bouquet.category == 'Money-Hand-Bouquet' %}
                                                                                <option value="Artificial-Full-Flower-Hand-Bouquet">Artificial Full Flower Hand Bouquet</option>
                                                                                <option value="Money-Hand-Bouquet" selected>Money Hand Bouquet</option>
                                                                                <option value="Hand-Bouquet-Snack">Hand Bouquet Snack</option>
                                                                                {% elif bouquet.category == 'Hand-Bouquet-Snack' %}
                                                                                <option value="Artificial-Full-Flower-Hand-Bouquet">Artificial Full Flower Hand Bouquet</option>
                                                                                <option value="Money-Hand-Bouquet">Money Hand Bouquet</option>
                                                                                <option value="Hand-Bouquet-Snack" selected>Hand Bouquet Snack</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 form-group">
                                                                            <label>Harga</label>
                                                                            <input type="number" class="form-control mt-2" name="price" id="price" placeholder="Masukkan harga buket" value="{{bouquet.price}}" required>
                                                                        </div>
                                                                        <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                            <label>Stok</label>
                                                                            <input type="number" class="form-control mt-2" name="stock" id="stock" placeholder="Masukkan stok buket" value="{{bouquet.stock}}" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer no-bd">
                                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-undo"></i> Batal</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal Hapus -->
                                                <div class="modal fade" id="deleteBouquet_{{bouquet['_id']}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">Hapus Data</span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form action="/hapus-buket" method="POST" enctype="multipart/form-data">
                                                                <div class="modal-body">
                                                                    <input type="hidden" value="{{bouquet['_id']}}" class="form-control" name="id">
                                                                    <div class="form-group">
                                                                        <h4>Apakah Anda yakin ingin menghapus data ini?</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer no-bd">
                                                                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Hapus</button>
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Batal</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Tambah -->
        <div class="modal fade" id="addBouquet" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header no-bd">
                        <h5 class="modal-title">
                            <span class="fw-mediumbold">Tambah Data</span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/tambah-buket" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Nama</label>
                                    <input type="text" class="form-control mt-2" name="name" id="name" placeholder="Masukkan nama buket" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label>Gambar</label>
                                    <input type="file" class="form-control mt-2" name="image" id="image" accept=".png, .jpg, .jpeg" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Warna Bunga dan Kertas</label>
                                    <input type="text" class="form-control mt-2" name="flower_and_paper_color" id="flower_and_paper_color" placeholder="Masukkan warna bunga dan kertas" required>
                                    <small>Contoh: Bunga Merah dan Kertas Kuning</small>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="category" class="form-label">Kategori</label>
                                    <select class="form-control" id="category" name="category" required>
                                        <option value="Artificial-Full-Flower-Hand-Bouquet">Artificial Full Flower Hand Bouquet</option>
                                        <option value="Money-Hand-Bouquet">Money Hand Bouquet</option>
                                        <option value="Hand-Bouquet-Snack">Hand Bouquet Snack</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Harga</label>
                                    <input type="number" class="form-control mt-2" name="price" id="price" placeholder="Masukkan harga buket" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label>Stok</label>
                                    <input type="number" class="form-control mt-2" name="stock" id="stock" placeholder="Masukkan stok buket" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer no-bd">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-undo"></i> Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#add-row').DataTable({
                pageLength: 25
            });
        });
    </script>
{% include 'admin/templates/footer.html' %}