{% include 'admin/templates/header.html' %}
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Data Buket</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="../admin/beranda">
                                    <i class="bi bi-archive"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a>Data Buket</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Data Buket</h4>
                                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal"
                                            data-target="#addBouquet">
                                            <i class="fa fa-plus"></i>
                                            Tambah Data
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Gambar</th>
                                                    <th>Nama</th>
                                                    <th>Kategori</th>
                                                    <th>Deskripsi</th>
                                                    <th>Harga</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for collection in collections %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td class="text-center">
                                                        <img src="{{ url_for('static', filename=collection.image) }}" width="60" height="60">
                                                    </td>
                                                    <td>{{ collection.name }}</td>
                                                    <td>
                                                        {% if collection.category == 'filter-artificial' %}
                                                            Artificial Full Flower Hand Bouquet
                                                        {% elif collection.category == 'filter-money' %}
                                                            Money Hand Bouquet
                                                        {% elif collection.category == 'filter-hand' %}
                                                            Hand Bouquet Snack
                                                        {% endif %}
                                                    </td>
                                                    <td width="20%">{{ collection.description }}</td>
                                                    <td>Rp {{ collection.price }}</td>
                                                    <td>
                                                        <a href="#editBouquet{{ collection._id }}" data-toggle="modal"
                                                            class="btn btn-xs btn-primary">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </a>
                                                        <a href="#deleteBouquet_{{ collection._id }}" data-toggle="modal"
                                                            class="btn btn-xs btn-danger">
                                                            <i class="fa fa-trash"></i> Hapus
                                                        </a>
                                                    </td>
                                                </tr>


                                                <!-- modal edit -->
                                                <div class="modal fade" id="editBouquet{{ collection._id }}" tabindex="-1"
                                                    role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">
                                                                        Edit Data</span>
                                                                    <span class="fw-light">
                                                                        Buket
                                                                    </span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form method="POST" action="/ubah-bucket"
                                                                enctype="multipart/form-data">

                                                                <div class="modal-body">
                                                                    <input type="hidden" value="{{ collection._id }}"
                                                                        class="form-control" name="bucketId">

                                                                    <div class="form-group">
                                                                        <label>Nama</label>
                                                                        <input type="text" class="form-control mt-2"
                                                                            name="name" id="name"
                                                                            placeholder="Nama Produk ..."
                                                                            value="{{ collection.name }}" required>
                                                                    </div>
                                                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                                                        <div class="col-md-12 form-group mt-3 mt-md-0">
                                                                            <img src="{{ url_for('static', filename=collection.image)}}" width="70" height="70">
                                                                        </div>
                                                                        <div class="col-md-12 form-group mt-3 mt-md-0">
                                                                            <label>Gambar</label>
                                                                            <input type="file" class="form-control mt-2" name="image" id="image" accept=".png, .jpg, .jpeg">
                                                                            <small class="form-text text-muted">Kosongkan jika tidak ingin mengubah gambar.</small>
                                                                        </div>
                                                                    </div>

                                                                    
                                                                    <div class="form-group">
                                                                        <label for="editCategory" class="form-label">Kategori</label>
                                                                        <select class="form-control" id="editCategory" name="category" required>
                                                                            {% if collection.category == 'filter-artificial' %}
                                                                                <option value="filter-artificial" selected>Artificial Full Flower Hand Bouquet</option>
                                                                                <option value="filter-money">Money Hand Bouquet</option>
                                                                                <option value="filter-hand">Hand Bouquet Snack</option>
                                                                            {% elif collection.category == 'filter-money' %}
                                                                                <option value="filter-artificial">Artificial Full Flower Hand Bouquet</option>
                                                                                <option value="filter-money" selected>Money Hand Bouquet</option>
                                                                                <option value="filter-hand">Hand Bouquet Snack</option>
                                                                            {% elif collection.category == 'filter-hand' %}
                                                                                <option value="filter-artificial">Artificial Full Flower Hand Bouquet</option>
                                                                                <option value="filter-money">Money Hand Bouquet</option>
                                                                                <option value="filter-hand" selected>Hand Bouquet Snack</option>
                                                                            {% endif %}
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Deskripsi</label>
                                                                        <textarea class="form-control mt-2"
                                                                            style="white-space: pre-line;" rows="4"
                                                                            name="description"
                                                                            id="description"
                                                                            placeholder="Keterangan Produk ..."
                                                                            required>{{ collection.description }}</textarea>
                                                                            <small class="form-text text-muted">Cantumkan Warna bunga dan warna kertas</small>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Harga</label>
                                                                        <input type="number" class="form-control mt-2"
                                                                            name="price" id="price"
                                                                            placeholder="Harga Produk..."
                                                                            value="{{ collection.price}}" required>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer no-bd">
                                                                    <button type="submit" name="ubah"
                                                                        class="btn btn-primary"><i
                                                                            class="fa fa-save"></i> Save
                                                                        Changes</button>
                                                                    <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal"><i class="fa fa-undo"></i>
                                                                        Close</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end of modal edit -->


                                                <!-- modal delete -->
                                                <div class="modal fade" id="deleteBouquet_{{ collection._id }}"
                                                    tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header no-bd">
                                                                <h5 class="modal-title">
                                                                    <span class="fw-mediumbold">
                                                                        Hapus Data</span>
                                                                    <span class="fw-light">
                                                                        Buket
                                                                    </span>
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form method="POST" action="/hapus-bucket"
                                                                enctype="multipart/form-data">

                                                                <div class="modal-body">

                                                                    <input type="hidden" value="{{ collection._id }}"
                                                                        class="form-control" name="bucketId">

                                                                    <div class="form-group">
                                                                        <h4>Apakah Anda ingin Menghapus Data ini ?</h4>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer no-bd">
                                                                    <button type="submit" name="hapus"
                                                                        class="btn btn-danger"><i
                                                                            class="fa fa-trash"></i>
                                                                        Hapus</button>
                                                                    <button type="button" class="btn btn-primary"
                                                                        data-dismiss="modal"><i class="fa fa-undo"></i>
                                                                        Close</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end of modal delete -->

                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addBouquet" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header no-bd">
                        <h5 class="modal-title">
                            <span class="fw-mediumbold">
                                Tambah Data</span>
                            <span class="fw-light">
                                Buket
                            </span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="POST" action="/tambah-koleksi" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nama</label>
                                <input type="text" class="form-control mt-2" name="name" id="name"
                                    placeholder="Nama Bouquet ..." required>
                            </div>

                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="file" class="form-control mt-2" name="image" id="image"
                                    accept=".png, .jpg, .jpeg" required>
                                <small>Format Gambar Harus JPG / PNG / JPEG</small>
                            </div>
                            <div class="form-group">
                                <label for="category" class="form-label">Kategori</label>
                                <select class="form-control" id="category" name="category" required>
                                    <option value="filter-artificial">Artificial Full Flower Hand Bouquet</option>
                                    <option value="filter-money">Money Hand Bouquet</option>
                                    <option value="filter-hand">Hand Bouquet Snack</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Deskripsi</label>
                                <textarea class="form-control mt-2" style="white-space: pre-line;" rows="4"
                                    name="description" id="description" placeholder="Keterangan Bouquet ..."
                                    required></textarea>
                                <small class="form-text text-muted">Cantumkan Warna bunga dan warna kertas</small>
                            </div>

                            <div class="form-group">
                                <label>Harga</label>
                                <input type="number" class="form-control mt-2" name="price" id="price"
                                    placeholder="Harga Bouquet..." required>
                            </div>
                        </div>

                        <div class="modal-footer no-bd">
                            <button type="submit" name="simpan" class="btn btn-primary"><i class="fa fa-save"></i> Save
                                Changes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-undo"></i>
                                Close</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
<script>
            
    $(document).ready(function () {
        $('#add-row').DataTable({
            pageLength: 25
        });
    });

</script>
{% include 'admin/templates/footer.html' %}