<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Tag Meta yang Diperlukan -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta property="og:title" content="Bucket Tangan Navirins" />
    <meta property="og:description" content="Apakah kamu mencari bucket tangan hias?" />
    <meta property="og:image" content="{{ url_for('static', filename='') }}" />

    <!-- Judul Halaman Web -->
    <title>Order Form</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.2/quill.snow.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.2/quill.bubble.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" rel="stylesheet" />
    <link href="../static/css/style_lama.css" rel="stylesheet" />
    <link href="../static/css/style2.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="../static/img/navirins.png" alt="" style="margin-left: 9px;">
                <span class="d-lg-block">Navirin's</span>
            </a>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item pe-3">
                    <a class="nav-link me-2" href="/koleksi">Koleksi Buket</a>
                </li>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ user_info.account_name }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/">
                                <i class="bi bi-house"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profil/{{ user_info.account_name }}">
                                <i class="bi bi-person-vcard"></i>
                                <span>Profil</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/obrolan/{{ user_info.account_name }}">
                                <i class="bi bi-chat-left-dots"></i>
                                <span>Obrolan</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/histori-pembayaran/{{ user_info.account_name }}">
                                <i class="bi bi-credit-card"></i>
                                <span>Histori Pembayaran</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/status-pengiriman/{{ user_info.account_name }}">
                                <i class="bi bi-car-front"></i>
                                <span>Status Pengiriman</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" onclick="return logout();">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Keluar</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="mt-5">Order Form</h1>
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-10">
    
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="{{ url_for('static', filename=collection.image) }}" class="img-fluid rounded-3" alt="{{ collection.name }}">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-4 mb-md-0 text-center">{{ collection.name }}</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <button class="btn btn-outline-secondary" type="button" id="btnMinus">-</button>
                                            <input type="text" class="form-control" id="quantity" name="quantity" value="1" readonly>
                                            <button class="btn btn-outline-secondary" type="button" id="btnPlus">+</button>
                                    </div>
                                    <div class="col-md-3 mt-3 mt-md-0 col-lg-2 col-xl-2 offset-lg-1">
                                        <div id="product-price" style="display: none;">Rp. {{ collection.price }}</div>
                                        <h5 class="mb-0 text-center total-price">Rp. {{ collection.price }}</h5>
                                    </div>
    
                                </div>
                            </div>
                        </div>
            <!-- <div class="card mb-3">
                <img src="{{ collection.image }}" class="card-img-top" alt="{{ collection.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ collection.name }}</h5>
                    <p class="card-text">{{ collection.description }}</p>
                    <p class="card-text"><strong>Price: {{ collection.price }}</strong></p>
                    Bagian kuantitas -->
                    <!-- <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="button" id="btnMinus">-</button>
                            <input type="text" class="form-control" id="quantity" name="quantity" value="1" readonly>
                            <button class="btn btn-outline-secondary" type="button" id="btnPlus">+</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div id="total" class="form-control">Total Harga Rp {{ collection.price }}</div>
                    </div> -->
                    <!-- Akhir dari bagian kuantitas -->
                </div>
            </div>
    
            <!-- Tambahkan card lainnya di sini sesuai dengan jumlah produk yang ingin Anda tampilkan -->
    
            <form method="POST" action="/process_order">
                <input type="hidden" name="collection_id" value="{{ collection._id }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ user_info.profile_name }}" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user_info.useremail }}" required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="3" required>{{ user_info.address }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Place Order</button>
            </form>
            
            <!-- Tombol Beli Lagi -->
            <a href="/koleksi" class="btn btn-secondary mt-3">Beli Lagi</a>
        </div>
    </main>
    
    
    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="copyright">
            <a href="https://www.instagram.com/navirins/"><i class="bi bi-instagram"> @navirins</i></a>
        </div>
        <div class="credits">
            &copy; Hak Cipta <strong><span>Navirins</span></strong>. Dirancang oleh Tim Navirins
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.49.1/dist/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.2/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tinymce@7.1.1/tinymce.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://static.cloudflareinsights.com/beacon.min.js/vef91dfe02fce4ee0ad053f6de4f175db1715022073587" defer></script>
    <script src="../static/js/main_lama.js"></script>
    <script>
        // Tambahkan event listener untuk tombol Plus dan Minus
       // Tambahkan event listener untuk tombol Plus dan Minus
    document.getElementById("btnPlus").addEventListener("click", function() {
        incrementValue();
    });

    document.getElementById("btnMinus").addEventListener("click", function() {
        decrementValue();
    });

    // Fungsi untuk menambahkan nilai
    function incrementValue() {
        var value = parseInt(document.getElementById("quantity").value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById("quantity").value = value;
        updateTotalPrice();
    }

    // Fungsi untuk mengurangi nilai
    function decrementValue() {
        var value = parseInt(document.getElementById("quantity").value, 10);
        value = isNaN(value) ? 0 : value;
        if (value > 1) {
            value--;
            document.getElementById("quantity").value = value;
            updateTotalPrice();
        }
    }

    // Fungsi untuk memperbarui total harga
    function updateTotalPrice() {
        var price = parseFloat("{{ collection.price }}");
        var quantity = parseInt(document.getElementById("quantity").value, 10);
        var totalPrice = price * quantity;
        document.getElementById("total").textContent = "Total: Rp " + totalPrice.toFixed(2);
    }


        function logout() {
            $.removeCookie('bouquet', { path: '/' })
            Swal.fire({
                title: "Keluar",
                text: "Apakah Anda yakin ingin keluar dari website ini?",
                icon: "warning",
                showClass: {
                    popup: `
                        animate__animated
                        animate__fadeInDown
                    `
                },
                showCloseButton: true,
                showCancelButton: true,
                confirmButtonText: "Yakin",
                cancelButtonText: "Batal",
                hideClass: {
                    popup: `
                        animate__animated
                        animate__fadeOut
                    `
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        },
                        showClass: {
                            popup: `
                                animate__animated
                                animate__zoomIn
                            `
                        }
                    });
                    Toast.fire({
                        icon: 'success',
                        title: 'Berhasil keluar'
                    });
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 3000);
                }
            });
        }
    </script>
</body>

</html>
