{% include 'user/templates/header.html' %}
    <main id="main" class="mt-5">

        <!-- Obrolan -->
        <section id="kontak" class="contact section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Obrolan</h2>
                    <p>Obrolan dalam pemesanan</p>
                </div>

                <div class="row no-gutters justify-content-md-center">

                    <div class="col-lg-6">
                        <div class="fillable-form">
                            <h5 class="mt-2 mb-4">Pembeli dapat menulis pesan di sini</h5>
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Pesan" required></textarea>
                            </div>
                            <div class="text-center my-3">
                                <button type="submit" onclick="chatInOrdering()">Kirim Pesan</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-5 mt-5">
                            <h4 class="mb-4">{{ number_of_chats }} Obrolan</h4>
        
                            {% if number_of_chats > 0 %}
                            {% for chat in transaction_chat %}
                            <div class="card mb-4" style="border-radius: 1em;">
                                <div class="card-body">
                                    <div class="d-flex mb-1 mt-1">
                                        <img src="{{ url_for('static', filename='user_info.profile_pic_real') }}" class="img-fluid" style="width: 45px; height: 45px;">
                                        <div class="ps-3">
                                            <h6>
                                                <strong>{{chat.profile_name}}</strong>
                                                <strong>{{chat.account_name}}</strong>
                                                <small><i>{{chat.date}}</i></small>
                                            </h6>
                                            <p>{{chat.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>Tidak ada obrolan.</p>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
{% include 'user/templates/footer.html' %}
<script>
    function chatInOrdering() {
        let message = $("#message").val();
        let transaction_id = "{{ transaction_info['_id'] }}";

        $.ajax({
            type: "POST",
            url: '/mengobrol',
            data: {
                message_give: message,
                transaction_id_give: transaction_id,
            },
            success: function (response) {
                Swal.fire({
                    title: "Berhasil",
                    text: `${response['msg']}`,
                    icon: "success",
                    showConfirmButton: false,
                    timer: 3000
                });
                // Menunda pengalihan halaman selama 3 detik
                setTimeout(function () {
                    window.location.reload()
                }, 3000);
            },
            error: function (xhr, status, error) {
                // Handle errors, show an alert, or update UI to indicate failure
                console.error(xhr.responseText);
                // Show an alert using SweetAlert
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Gagal mengirim komentar. Silakan coba lagi.',
                });
            }
        });
    }
</script>