{% include 'user/templates/header.html' %}
    <main id="main" class="mt-5">

        <!-- Obrolan -->
        <section id="kontak" class="contact section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Obrolan</h2>
                    <p>Obrolan Pemesanan</p>
                </div>

                <div class="row no-gutters justify-content-md-center">

                    <div class="container mt-5 mb-5">
                        {% if chats %}
                        {% for chat in chats %}
                        <div id="wrapper-balasan">
                            <div class="row mb-5">
                                <div class="col-12 col-lg-3">
                                    <div class="card py-5 mb-3 mb-lg-0">
                                        <img class="card-img-top is-96x96 mx-auto rounded-circle" src="{{ url_for('static', filename=chat.profile_picture)}}">
                                        <div class="card-body mx-auto">
                                            <h5 class="card-title text-center">{{chat.nama_lengkap}}</h5>
                                            <p class="card-text text-center">@{{comment.username}}</p>
                                            <p class="card-text text-center">Role:
                                                {% if comment.role.lower() == "admin" %}
                                                <span class="badge bg-danger">{{comment.role | capitalize}}</span>
                                                {% else %}
                                                <span class="badge bg-primary">{{comment.role | capitalize}}</span>
                                                {% endif %}
                                            </p>
            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-9">
                                    <div class="card h-100">
                                        <div class="card-header"> Posted {{comment.post_data}}</div>
                                        <div class="card-body d-flex flex-column p-3">
                                            <p class="card-text mb-3">{{comment.komen}}</p>
                                            <div class="mt-auto">
                                                {% if user_info.username == comment.username %}
                                                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#editComment_{{comment['_id']}}">Edit</button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#deleteComment_{{comment['_id']}}">Delete</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
            
                        <!-- modal edit -->
                        {% if user_info.username == comment.username %}
                        <div class="modal fade" id="editComment_{{comment['_id']}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Komen</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST" action="/edit_komen" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <input type="hidden" value="{{comment['_id']}}" class="form-control" name="id">
                                                <input type="hidden" value="{{forum['_id']}}" class="form-control" name="url_id">
                                                <label for="exampleFormControlTextarea1" class="form-label">Isi Komen</label>
                                                <textarea class="form-control" id="komen" name="komen" rows="5"
                                                    required>{{comment.komen}}</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="simpan" class="btn btn-primary">Save
                                                changes</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- end of modal edit -->
                        <!-- modal delete -->
                        {% if user_info.username == comment.username %}
                        <div class="modal fade" id="deleteComment_{{comment['_id']}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Komen</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST" action="/delete_komen" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <input type="hidden" value="{{comment['_id']}}" class="form-control" name="id">
                                                <input type="hidden" value="{{forum['_id']}}" class="form-control" name="url_id">
                                                <h5>Apakah Anda ingin Menghapus Pertanyaan ini ?</h5>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="simpan" class="btn btn-primary">Save
                                                changes</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                       
                        <!-- end of modal delete -->
                        {% endfor %}
                        {% if (user_info.username == forum.username or user_info.role.lower() == 'admin') and forum.isCompleted == "false" %}
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" value="{{forum['_id']}}" class="form-control" name="id">
                                <button type="button" id="button_tutup_thread" class="btn btn-warning w-100 btn-lg" data-bs-toggle="modal" data-bs-target="#modalTutupThread">Tutup Thread</button>
                            </div>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="d-flex justify-content-center">
                            <h3 class="text-muted">Belum ada balasan</h3>
                        </div>
                        {% endif %}
                    </div>

                    <div class="card fixed-bottom">
                        <div class="card-body">
                            <h5 class="card-title">Quill Editor Full</h5>
                
                            <!-- Quill Editor Full -->
                            <div class="quill-editor-full">
                                <p>Ketik pesan</p>
                            </div>
            
                        </div>
                    </div>

                    <!-- <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63455.76354204144!2d106.85236139736183!3d-6.2656733929764306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f2dcb11a7677%3A0xfdfafc879af457f6!2sHalim%20Perdana%20Kusumah%2C%20Kec.%20Makasar%2C%20Kota%20Jakarta%20Timur%2C%20Daerah%20Khusus%20Ibukota%20Jakarta!5e0!3m2!1sid!2sid!4v1717217310250!5m2!1sid!2sid" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                            </div>
                        </div>
            
                    </div>

                    <div class="col-lg-6">
                        <div class="fillable-form">
                            <h5 class="mt-2 mb-4">Pertanyaan, Kritik, dan Saran</h5>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nama Anda">
                                    <div id="nameFeedback" class="text-warning"></div>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Anda">
                                    <div id="emailFeedback" class="text-warning"></div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Judul">
                                <div id="subjectFeedback" class="text-warning"></div>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Pesan"></textarea>
                                <div id="messageFeedback" class=""></div>
                            </div>
                            <div class="text-center my-3"><button type="submit" onclick="sendMessage()">Kirim Pesan</button></div>
                        </div>
                    </div> -->

                </div>

            </div>
        </section>

    </main>
{% include 'user/templates/footer.html' %}
<script>
    $('.purchase-button').click(function() {
        var id = $(this).data('id');
        var quantity = $('#quantity-' + id).val();
        var url = '/pembayaran?quantity=' + 1 + '&bouquet_id=' + id;
        window.location.href = url;
    });

    document.addEventListener('DOMContentLoaded', function() {
        const filters = document.querySelectorAll('#portfolio-flters li');
        const descriptions = document.querySelectorAll('.filter-description');

        filters.forEach(filter => {
            filter.addEventListener('click', () => {
                descriptions.forEach(description => {
                    description.style.display = 'none';
                });

                const filterClass = filter.getAttribute('data-filter').substring(1) + '-description';
                const activeDescription = document.getElementById(filterClass);
                if (activeDescription) {
                    activeDescription.style.display = 'block';
                }
            });
        });

        // Tampilkan deskripsi untuk filter aktif pertama kali
        document.querySelector('.filter-active').click();
    });
</script>