{% include 'user/templates/header.html' %}
    <main id="main" class="mt-5">

        <!-- Obrolan -->
        <section id="kontak" class="contact section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Obrolan</h2>
                    <p>Obrolan Pemesanan</p>
                </div>

                <div class="row no-gutters justify-content-md-center">

                    <div class="container">
                        <div id="examples" class="container">
                            <h3 style="text-align: center; margin-bottom: 1rem;">Tulislah kalimatmu</h3>
                            <ul id="example-list">
                            </ul>
                            <div class="d-flex justify-content-between" style="margin-left: 20px;">
                                <input id="new-example" class="form-control for-control-sm" style="margin-right: 0.5rem;">
                                <button class="btn btn-outline-secondary btn-sm" onclick="add_ex()">Add</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
{% include 'user/templates/footer.html' %}
<script>

</script>