{% include 'user/templates/header.html' %}
    <main id="main" class="mt-5">

        <!-- Obrolan -->
        <section id="kontak" class="contact section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Obrolan</h2>
                    <p>Obrolan dalam pemesanan</p>
                </div>

                <div class="row no-gutters justify-content-md-center">

                    <div class="col-lg-6">
                        <div class="fillable-form">
                            <h5 class="mt-2 mb-4">Pembeli dapat menulis pesan di sini</h5>
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Pesan" required></textarea>
                            </div>
                            <div class="text-center my-3">
                                <button type="submit" onclick="chatInOrdering()">Kirim Pesan</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- <div class="fillable-form">
                            <h5 class="mt-2 mb-4">Apabila masih ada pertanyaan/informasi lebih lanjut, Anda dapat mengunjungi Instagram Navirin's</h5>
                            <div class="form-group">
                                <p class="card-text text-black-50" style="font-size:1.2em;">
                                    <a class="text-dark" target="_blank" href="https://www.instagram.com/direct/t/17842963500070275">
                                        <i class="fab fa-instagram"></i> Navirin's
                                    </a>
                                </hp>
                            </div>
                        </div> -->
                        <div class="info-box">
                            <p class="ms-2 me-2 mt-4 mb-3">Apabila Anda masih ada pertanyaan atau ingin mengetahui informasi lebih lanjut, Navirin's siap melayani Anda melalui Instagram berikut (Anda dapat menekan icon di bawah ini).</p>
                            <a target="_blank" href="https://www.instagram.com/direct/t/17842963500070275"><i class="bx bxl-instagram"></i></a>
                          </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
{% include 'user/templates/footer.html' %}