{% include 'user/templates/header.html' %}
    <!-- Carousel -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Bagian 1 -->
                <div class="carousel-item active" style="background-image: url(../static/user/img/carousel.png)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Selamat datang di <span>Navirin's</span></h2>
                            <p class="animate__animated animate__fadeInUp">Kirimkan hadiah ke orang yang Anda cintai dengan produk Navirin's.</p>
                            <a href="/masuk" class="btn-get-started animate__animated animate__fadeInUp scrollto">Masuk</a>
                        </div>
                    </div>
                </div>

                <!-- Bagian 2 -->
                <div class="carousel-item" style="background-image: url(../static/user/img/carousel.png)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Tentang Navirin's</h2>
                            <p class="animate__animated animate__fadeInUp">Kami menyediakan opsi pengiriman dan layanan pesanan khusus (custom order) buket.</p>
                            <a href="#tentang-kami" class="btn-get-started animate__animated animate__fadeInUp scrollto">Baca selengkapnya</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section>

    <main id="main">

        <!-- Tentang Kami -->
        <section id="tentang-kami" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Tentang Kami</h2>
                    <p>Tentang Navirin's</p>
                </div>

                <div class="row content">
                    <div class="col-lg-3">
                        <p>
                            Pelanggan dapat mengajukan permintaan buket seperti yang Anda inginkan, dan dapat memberikan ide kreatif yang Anda miliki pada layanan pesanan khusus (custom order). Puaskan diri Anda dengan memesan produk sesuai dengan keinginan hati.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <p>
                            Syarat dan Ketentuan Custom Order:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Setelah custom form di submit, Navirin's akan menghubungi Anda melalui website Navirin's atau Email untuk konfirmasi pemesanan.</li>
                            <li><i class="ri-check-double-line"></i> Ketersediaan barang dapat berubah sewaktu-waktu.</li>
                            <li><i class="ri-check-double-line"></i> Pesanan tidak dapat diubah.</li>
                            <li><i class="ri-check-double-line"></i> Silahkan hubungi kami lewat chat online untuk pertanyaan lebih lanjut.</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 pt-4 pt-lg-0">
                        <h5>Opsi Pengiriman</h5>
                        <ol>
                            <li>Pengiriman dapat dilakukan menggunakan kurir Navirin's, selama lokasi kurang dari 2 km.</li>
                            <li>Pengiriman dapat dilakukan dengan ojek online, customer wajib melakukan pemesanan mandiri pada saat hari pengiriman.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>

        <!-- Rekap -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row no-gutters justify-content-md-center">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Variasi buket</strong> yang disediakan oleh Navirin's</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Custom order buket</strong> yang telah dikerjakan bersama Navirin's</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Pelanggan</strong> yang telah kami layani</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- Koleksi Buket -->
        <section id="koleksi-buket" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Koleksi Buket</h2>
                    <p>Daftar koleksi buket</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="../static/user/img/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <a href="../static/user/img/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- Pertanyaan yang Sering Ditanyakan -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>F.A.Q</h2>
                    <p>Pertanyaan yang Sering Ditanyakan</p>
                </div>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                        <i class="bx bx-help-circle"></i>
                        <h4>Kapan saja waktu operasional Navirin's?</h4>
                    </div>
                    <div class="col-lg-7">
                        <p>
                            Waktu operasional Navirin's ada pada:
                            <ul>
                                <li>Hari Senin - Jumat pada pukul 08:30 WIB - 17:30 WIB.</li>
                                <li>Hari Sabtu pada pukul 09:00 WIB - 12:00 WIB.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-5">
                        <i class="bx bx-help-circle"></i>
                        <h4>Apakah dapat memesan buket dari hari H?</h4>
                    </div>
                    <div class="col-lg-7">
                        <p>
                            Tidak bisa. Pelanggan mesti mem-booking buket dari H-3.
                        </p>
                    </div>
                </div>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="col-lg-5">
                        <i class="bx bx-help-circle"></i>
                        <h4>Apakah bunga pada buket dapat dari bunga asli?</h4>
                    </div>
                    <div class="col-lg-7">
                        <p>
                            Tidak bisa. Bunga pada buket tersebut adalah bunga plastik.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Kontak -->
        <section id="kontak" class="contact section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Kontak</h2>
                    <p>Hubungi Kami</p>
                </div>

                <div class="row no-gutters justify-content-md-center">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63455.76354204144!2d106.85236139736183!3d-6.2656733929764306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f2dcb11a7677%3A0xfdfafc879af457f6!2sHalim%20Perdana%20Kusumah%2C%20Kec.%20Makasar%2C%20Kota%20Jakarta%20Timur%2C%20Daerah%20Khusus%20Ibukota%20Jakarta!5e0!3m2!1sid!2sid!4v1717217310250!5m2!1sid!2sid" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                            </div>
                        </div>
            
                    </div>

                    <div class="col-lg-6">
                        <div class="fillable-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nama Anda">
                                    <div id="nameFeedback" class="text-warning"></div>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Anda">
                                    <div id="emailFeedback" class="text-warning"></div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Judul">
                                <div id="subjectFeedback" class="text-warning"></div>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Pesan"></textarea>
                                <div id="messageFeedback" class=""></div>
                            </div>
                            <div class="text-center my-3"><button type="submit" onclick="sendMessage()">Kirim Pesan</button></div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
{% include 'user/templates/footer.html' %}