{% include 'user/templates/header.html' %}
<main id="main" class="mt-5">

    <!-- Koleksi Buket -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Buket</h2>
                <p>Koleksi Buket Navirin's</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Semua</li>
                        <li data-filter=".Artificial-Full-Flower-Hand-Bouquet">Artificial Full Flower Hand Bouquet</li>
                        <li data-filter=".Money-Hand-Bouquet">Money Hand Bouquet</li>
                        <li data-filter=".Hand-Bouquet-Snack">Hand Bouquet Snack</li>
                    </ul>
                </div>
            </div>

            <!-- Deskripsi Filter -->
            <div class="row" data-aos="fade-up" data-aos-delay="150">
                <div class="col-md-12 md-5 d-flex justify-content-center">
                    <div id="filter-descriptions">
                        <div class="filter-description" id="Artificial-Full-Flower-Hand-Bouquet-description">
                            <p>
                                <small>Bunga artificial adalah bunga yang berbahan sintesis atau plastic.
                                Meskipun tidak hidup, bunga artificial memiliki daya tarik dan kegunaan yang tak kalah indah.Tidak heran kalau bunga artificial ini popular di berbagai macam acara.</small>
                            </p>
                            <hr>
                        </div>
                        <div class="filter-description" id="Money-Hand-Bouquet-description">
                            <p>
                                <small>Bunga uang yang terdiri atas artificial flowers dan uang tunai. Merupakan pilihan yang praktis dan tepat untuk diberikan sebagai hadiah atau bentuk penghargaan, sangat cocok di berbagai acara dan kalangan.
                                Kamu bisa memilih pecahan uang berapa saja untuk ditambahkan di Money Bouquet. Harga untuk produk ini sudah termasuk artificial flowers dan belum termasuk uang tunai yang diinginkan.</small>
                            </p>
                            <hr>
                        </div>
                        <div class="filter-description" id="Hand-Bouquet-Snack-description">
                            <p>
                                <small>Bunga snack yang berisi aneka macam snack. Isi snack dari buket ini dapat kamu request sesuai dengan keinginan kamu. 
                                Harga udah termasuk artificial flowers dan belum termasuk snack dan kartu ucapan.</small>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row portfolio-container mt-3" data-aos="fade-up" data-aos-delay="200">
                {% for bouquet in bouquets %}
                    {% if bouquet.category == 'Artificial-Full-Flower-Hand-Bouquet' %}
                    <div class="col-lg-4 col-md-6 portfolio-item Artificial-Full-Flower-Hand-Bouquet">
                        <img src="{{ url_for('static', filename=bouquet.image) }}" class="img-fluid portfolio-img" alt="{{ bouquet.name }}">
                        <div class="portfolio-info">
                            <h4>{{bouquet.name}}</h4>
                            <p>{{bouquet.category}}</p>
                            <p class="card-text"><strong>Rp {{ bouquet.price }}</strong></p><br>
                            <a href="{{ url_for('static', filename=bouquet.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{bouquet.name}}"><i class="bx bx-zoom-in"></i></a>
                            <a data-id="{{bouquet['_id']}}" class="details-link purchase-button" title="More Details"><i class='bx bx-transfer-alt'></i></a>
                        </div>
                    </div>
                    {% elif bouquet.category == 'Money-Hand-Bouquet' %}
                    <div class="col-lg-4 col-md-6 portfolio-item Money-Hand-Bouquet">
                        <img src="{{ url_for('static', filename=bouquet.image) }}" class="img-fluid portfolio-img" alt="{{ bouquet.name }}">
                        <div class="portfolio-info">
                            <h4>{{bouquet.name}}</h4>
                            <p>{{bouquet.category}}</p>
                            <p class="card-text"><strong>Rp {{ bouquet.price }}</strong></p><br>
                            <a href="{{ url_for('static', filename=bouquet.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{bouquet.name}}"><i class="bx bx-zoom-in"></i></a>
                            <a data-id="{{bouquet['_id']}}" class="details-link purchase-button" title="More Details"><i class='bx bx-transfer-alt'></i></a>
                        </div>
                    </div>
                    {% elif bouquet.category == 'Hand-Bouquet-Snack' %}
                    <div class="col-lg-4 col-md-6 portfolio-item Hand-Bouquet-Snack">
                        <img src="{{ url_for('static', filename=bouquet.image) }}" class="img-fluid portfolio-img" alt="{{ bouquet.name }}">
                        <div class="portfolio-info">
                            <h4>{{bouquet.name}}</h4>
                            <p>{{bouquet.category}}</p>
                            <p class="card-text"><strong>Rp {{ bouquet.price }}</strong></p><br>
                            <a href="{{ url_for('static', filename=bouquet.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{bouquet.name}}"><i class="bx bx-zoom-in"></i></a>
                            <a data-id="{{bouquet['_id']}}" class="details-link purchase-button" title="More Details"><i class='bx bx-transfer-alt'></i></a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </section>

</main>
{% include 'user/templates/footer.html' %}
<script>
    $('.purchase-button').click(function() {
        var id = $(this).data('id');
        var quantity = $('#quantity-' + id).val();
        var url = '/pembayaran?quantity=' + quantity + '&bouquet_id=' + id;
        window.location.href = url;
    });

    document.addEventListener('DOMContentLoaded', function() {
        const filters = document.querySelectorAll('#portfolio-flters li');
        const descriptions = document.querySelectorAll('.filter-description');

        filters.forEach(filter => {
            filter.addEventListener('click', () => {
                descriptions.forEach(description => {
                    description.style.display = 'none';
                });

                const filterClass = filter.getAttribute('data-filter').substring(1) + '-description';
                const activeDescription = document.getElementById(filterClass);
                if (activeDescription) {
                    activeDescription.style.display = 'block';
                }
            });
        });

        // Tampilkan deskripsi untuk filter aktif pertama kali
        document.querySelector('.filter-active').click();
    });
</script>