{% include 'user/templates/header.html' %}
<main id="main" class="mt-5">

    <!-- Form Pembayaran -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">
  
            <div class="section-title">
                <h2>Pembayaran</h2>
                <p>Formulir Pembayaran</p>
            </div>

            <div class="row mt-4 justify-content-md-center">
                <div class="col-lg-8">
                    <div action="/pembayaran" method="POST" enctype="multipart/form-data">
                        <div class="fillable-form">
                            <h5 class="mt-2 mb-4">Buket yang dibeli</h5>
                            <div class="row">
                                <input type="hidden" name="bouquet_id" id="bouquet_id" value="{{ bouquet._id }}">

                                <div class="col-md-4 form-group justify-content-center align-items-center text-center">
                                    <img src="{{ url_for('static', filename=bouquet.image) }}" class="img-fluid rounded-3" width="40%" height="40%" alt="{{bouquet.name}}">
                                    <div class="text-center">
                                        <p class="lead fw-normal mt-2 mb-4 mb-md-0 text-center">{{bouquet.name}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                    <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input id="content_quantity" min="1" name="quantity" value="{{quantity}}" type="number" class="form-control form-control-sm text-center">
                                    <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-4 form-group mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                    <div id="bouquet-price" style="display: none;">{{bouquet.price}}</div>
                                    <h5 class="mb-0 text-center total-price">Rp {{quantity*price}}</h5>
                                </div>
                                
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4 form-group">
                                    <label for="flowerAndPaperColor" class="form-label">Warna Bunga dan Kertas</label>
                                    <textarea class="form-control" name="flower_and_paper_color" id="flower_and_paper_color" rows="3" placeholder="Masukkan warna bunga dan kertas untuk buket" required>{{bouquet.flower_and_paper_color}}</textarea>
                                    <small class="form-text text-muted">Contoh: Bunga Merah dan Kertas Kuning</small>
                                </div>
                                <div class="col-md-8 form-group mt-3 mt-md-0">
                                    <label for="noteOfBuyer" class="form-label">Catatan Pembeli</label>
                                    <textarea class="form-control" name="note_of_buyer" id="note_of_buyer" rows="5" placeholder="Masukkan catatan pembeli untuk Navirin's"></textarea>
                                    <small class="form-text text-muted">Pembeli dapat menuliskan pilihan buket full flower atau custom. Apabila pilihan buket tersebut adalah custom, silahkan Anda dapat mengisi kebutuhan custom untuk buket yang dibeli</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-md-center">
                <div class="col-lg-8">
                    <div class="fillable-form">
                        <h5 class="mt-2 mb-4">Pengiriman dan Pembayaran</h5>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <div class="col-md-12 mb-1">
                                        <label for="inputDate" class="col-sm-12 col-form-label">Tanggal Pengiriman</label>
                                        <div class="col-sm-12">
                                            <input type="date" class="form-control" name="delivery_date" id="delivery_date" required>
                                        </div>
                                        <small class="form-text text-muted">Tanggal pengiriman minimal H+3 pemesanan</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-2 mt-md-0">
                                        <label for="inputTime" class="col-sm-12 col-form-label" name="delivery_date" id="delivery_date" required>Waktu Pengiriman</label>
                                        <div class="col-sm-12">
                                            <input type="time" class="form-control" name="delivery_time" id="delivery_time" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="greetingCard" class="form-label">Kartu Ucapan</label>
                                <textarea class="form-control" name="greeting_card" id="greeting_card" rows="5" placeholder="Masukkan kalimat ucapan pada kartu buket" required></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="nameOfBuyer" class="form-label">Nama Penerima</label>
                                <input type="text" class="form-control" name="name_of_buyer" id="name_of_buyer" placeholder="Masukkan nama lengkap penerima" value="{{user_info.profile_name}}" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="phoneOfBuyer" class="form-label">No. Telepon Penerima</label>
                                <input type="number" class="form-control" name="phone_of_buyer" id="phone_of_buyer" placeholder="Masukkan nomor telepon penerima" value="{{user_info.phone}}" required>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 form-group">
                                <label for="addressOfBuyer" class="form-label">Alamat Penerima</label>
                                <textarea class="form-control" name="address_of_buyer" id="address_of_buyer" rows="5" placeholder="Masukkan alamat lengkap penerima" required>{{user_info.address}}</textarea>
                                <small class="form-text text-muted">Alamat diharapkan sesuai format (nama alamat, RT, RW, Desa/Kelurahan, Desa/Kelurahan, Kota/Kabupaten, dan Provinsi) untuk memudahkan pengiriman buket.</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="shippingMethod" class="form-label">Metode Pengiriman</label>
                                <select class="form-select" name="shipping_method" id="shipping_method" required>
                                    <option selected>Pilih Metode Pengiriman</option>
                                    <option value="Kurir-Navirin's">Kurir Navirin's</option>
                                    <option value="Ojek-Online">Ojek Online</option>
                                </select>
                                <small class="form-text text-muted">Pengiriman dapat dilakukan menggunakan kurir Navirin's, selama lokasi kurang dari 2 km</small>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">Metode Pembayaran</label>
                                <div id="paymentMethod">
                                    <img src="{{ url_for('static', filename='user/img/qris-image.png') }}" alt="QRIS" style="width: 100%; max-width: 200px;">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="totalPrice" class="col-sm-12 col-form-label">Total Harga Buket</label>
                                <p class="fs-6 mt-2 qris-price">Rp {{quantity*price}}</p>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="inputTime" class="col-sm-12 col-form-label">Bukti Pembayaran</label>
                                <input type="file" class="form-control" id="proof_of_payment" name="proof_of_payment" required>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <button type="submit" onclick="pay()" id="order-button" data-id="{{bouquet['_id']}}">Pesan</button>
                            <a href="/koleksi" id="btn-batal">Batal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        </div>
    </section>

</main>
{% include 'user/templates/footer.html' %}
<script>
    $(document).ready(function() {
        let price = Number($('#bouquet-price').text());
        
        function updatePrice() {
            let quantity = $('#content_quantity').val();
            let totalPrice = quantity * price;
            $('.total-price').text('Rp ' + totalPrice);
            $('.qris-price').text('Rp ' + totalPrice);
        }
    
        $('#content_quantity').on('input', updatePrice);
        $('.btn-link').on('click', updatePrice);
    });

    // kode untuk pembayaran
    function pay() {
        let quantity = $("#content_quantity").val();
        let bouquet_id = $('#order-button').data('id');
        let flower_and_paper_color = $("#flower_and_paper_color").val();
        let note_of_buyer = $("#note_of_buyer").val();
        let delivery_date = $("#delivery_date").val();
        let delivery_time = $("#delivery_time").val();
        let greeting_card = $("#greeting_card").val();
        let name_of_buyer = $("#name_of_buyer").val();
        let phone_of_buyer = $("#phone_of_buyer").val();
        let address_of_buyer = $("#address_of_buyer").val();
        let shipping_method = $("#shipping_method").val();
        let proof_of_payment = $('#proof_of_payment')[0].files[0];
    
        // Memeriksa apakah semua input telah diisi
        if (quantity && bouquet_id && flower_and_paper_color && note_of_buyer && delivery_date && delivery_time && greeting_card && name_of_buyer && phone_of_buyer && address_of_buyer && shipping_method && proof_of_payment) {
            let form_data = new FormData();
            form_data.append("quantity", quantity);
            form_data.append("bouquet_id", bouquet_id);
            form_data.append("flower_and_paper_color", flower_and_paper_color);
            form_data.append("note_of_buyer", note_of_buyer);
            form_data.append("delivery_date", delivery_date);
            form_data.append("delivery_time", delivery_time);
            form_data.append("greeting_card", greeting_card);
            form_data.append("name_of_buyer", name_of_buyer);
            form_data.append("phone_of_buyer", phone_of_buyer);
            form_data.append("address_of_buyer", address_of_buyer);
            form_data.append("shipping_method", shipping_method);
            form_data.append("proof_of_payment", proof_of_payment);
            $.ajax({
                type: "POST",
                url: "/pembayaran",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response["result"] === "success") {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top",
                            showConfirmButton: false,
                            timer: 5000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            },
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Pesanan Anda akan diproses. Silahkan tunggu validasi pesanan oleh Navirin's",
                        });
                        setTimeout(function () {
                            window.location.replace("/riwayat-pemesanan")
                        }, 5000);
                    }
                },
            });
        } else {
            // Jika ada input yang belum diisi, berikan pesan kesalahan kepada pengguna
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 4000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                },
            });
            Toast.fire({
                icon: "warning",
                title: "Salah satu atau beberapa kotak pengisian masih kosong, mohon untuk melengkapi semua kotak pengisian."
            });
        }
    }
</script>