{% include 'user/templates/header.html' %}
<main id="main" class="mt-5">

    <!-- Form Pembayaran -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">
  
            <div class="section-title">
                <h2>Pembayaran</h2>
                <p>Form Pembayaran</p>
            </div>
  
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-md-center">
                <div class="col-lg-8">
                    <div class="fillable-form">
                        <h5 class="mt-2 mb-4">Masukkan Alamat Penerima</h5>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="{{ url_for('static', filename=bouquet.image) }}"
                                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-4 mb-md-0 text-center">{{bouquet.name}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input id="form1" min="1" name="quantity" value="{{quantity}}" type="number"
                                        class="form-control form-control-sm text-center" />

                                    <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 mt-3 mt-md-0 col-lg-2 col-xl-2 offset-lg-1">
                                    <div id="bouquet-price" style="display: none;">{{bouquet.price}}</div>
                                    <h5 class="mb-0 text-center total-price">Rp. {{quantity*price}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-md-center">
                <div class="col-lg-8">
                    <div class="fillable-form">
                        <h5 class="mt-2 mb-4">Masukkan Alamat Penerima</h5>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="col-md-12 text-center">
                                    <img src="{{ url_for('static', filename=bouquet.image)}}" class="img-fluid rounded-3" width="40%" height="40%" alt="{{bouquet.name}}">
                                </div>
                                <div class="col-md-12 text-center">
                                    <p class="lead fw-normal mb-4 mb-md-0 text-center">{{bouquet.name}}</p>
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input id="form1" min="1" name="quantity" value="{{quantity}}" type="number" class="form-control form-control-sm text-center" />

                                    <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div id="bouquet-price" style="display: none;">{{bouquet.price}}</div>
                                    <h5 class="mb-0 text-center total-price">Rp {{quantity*price}}</h5>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">Warna Bunga dan Kertas</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Masukkan warna bunga dan kertas">
                                <div id="lastNameFeedback" class="text-warning"></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="inputDate" class="col-sm-12 col-form-label">Tanggal Pengiriman</label>
                                <div class="col-sm-12">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="inputTime" class="col-sm-12 col-form-label">Waktu Pengiriman</label>
                                <div class="col-sm-12">
                                    <input type="time" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="firstName" class="form-label">Catatan Pembeli</label>
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Masukkan catatan pembeli untuk penjual"></textarea>
                                <div id="messageFeedback" class=""></div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">Kartu Ucapan</label>
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Masukkan kalimat ucapan pada kartu buket"></textarea>
                                <div id="messageFeedback" class=""></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="firstName" class="form-label">Nama Penerima</label>
                                <input type="text" class="form-control" id="first-name" placeholder="Masukkan nama lengkap penerima" value="{{user_info.profile_name}}">
                                <div id="firstNameFeedback" class="text-warning"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">Nama Pengirim</label>
                                <input type="text" readonly class="form-control" id="last-name" placeholder="Masukkan nama lengkap pengirim">
                                <div id="lastNameFeedback" class="text-warning"></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="firstName" class="form-label">Alamat Penerima</label>
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Masukkan alamat lengkap penerima"></textarea>
                                <div id="messageFeedback" class=""></div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">Alamat Pengirim</label>
                                <textarea class="form-control" readonly name="message" id="message" rows="5" placeholder="Masukkan alamat lengkap penerima"></textarea>
                                <div id="messageFeedback" class=""></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="firstName" class="form-label">No. Telepon Penerima</label>
                                <input type="number" class="form-control" id="first-name" placeholder="Masukkan nomor telepon penerima" value="{{user_info.phone}}">
                                <div id="firstNameFeedback" class="text-warning"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">No. Telepon Pengirim</label>
                                <input type="number" readonly class="form-control" id="last-name" placeholder="Masukkan nomor telepon pengirim">
                                <div id="lastNameFeedback" class="text-warning"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-md-center">
                <div class="col-lg-8">
                    <div class="fillable-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="firstName" class="form-label">Metode Pengiriman</label>
                                <select class="form-select" id="shippingMethod" name="shippingMethod" required>
                                    <option value="kurir">Kurir</option>
                                    <option value="ojek_online">Ojek Online</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="lastName" class="form-label">Metode Pembayaran</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Masukkan warna kertas pada buket Anda">
                                <div id="lastNameFeedback" class="text-warning"></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 form-group">
                                <label for="inputDate" class="col-sm-12 col-form-label">Total Harga Buket</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Masukkan warna kertas pada buket Anda">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="inputTime" class="col-sm-12 col-form-label">Bukti Pembayaran</label>
                                <input type="file" class="form-control" id="paymentProof" name="paymentProof" required>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center mt-5">
                            <button type="submit" onclick="register()">Bayar</button>
                            <button type="submit" href="paketz">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </section>



</main>
{% include 'user/templates/footer.html' %}
